body {
  background-color: rgb(20 21 25);
}

h1 {
  font-weight: 700;
  margin-bottom: 5px;
}

.thank-you {
  margin-top: 5px;
}

.form-body {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(122 129 130);
  line-height: 175%;
}

.star {
  background-color: rgb(39 45 56);
  border-radius: 100%;
  padding: 10px;
}

.illustration {
  display: flex;
  margin: auto;
}

.card {
  background-color: rgb(31 37 48);
  width: 300px;
  height: 300px;
  color: white;
  border-radius: 20px;
  margin: 10rem auto;
  padding: 25px;
}

.ratings {
  border: none;
  border-radius: 100%;
  background-color: rgb(38 46 56);
  color: rgb(122 129 130);
  height: 50px;
  width: 50px;
  padding: 20px;
  margin: 0 5px;
}

.ratings:hover {
  background-color: rgb(125 135 151);
  color: white;
  cursor: pointer;
}

.ratings:focus {
  background-color: rgb(248 116 15);
  color: white;
}

.submit {
  border: none;
  border-radius: 40px;
  background-color: rgb(248 116 15);
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.submit:hover {
  color: rgb(248 116 15);
  background-color: white;
}

.response-layout {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.selected {
  color: rgb(248 116 15);
  background-color: rgb(38 47 56);
  border-radius: 40px;
  padding: 5px 20px;
  margin: 20px auto;
  display: inline-block;
}
